/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Correct the line height in all browsers.
 */
html {
  line-height: 1.15;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  -webkit-text-decoration-skip: objects;
}

/**
 * Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

:root {
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --title-text-color: #212121;
  --dark-bg-text-color: #ffffff;
  --dark-bg-secondary-color: rgba(255, 255, 255, 0.6);
  --light-bg-text-color: #000000;
  --socials-fill-color: #afb1b8;
  --socials-dark-bg-color: rgba(255, 255, 255, 0.1);
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --main-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --grid-item-qt: 2;
  --grid-item-r-gap: 30px;
  --grid-item-b-gap: 30px;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--primary-bg-color);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@keyframes planeMove {
  0% {
    transform: translate(0, 0);
  }
  45% {
    opacity: 1;
    transform: translate(-10px, 10px) scale(1.1);
  }
  50% {
    opacity: 0.95;
  }
  80% {
    opacity: 0.1;
    transform: translate(25px, -15px) scale(0.2);
  }
  85% {
    opacity: 0;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--dark {
  color: var(--light-bg-text-color);
}

.logo--light {
  color: var(--dark-bg-text-color);
}

.btn {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.socials {
  display: inline-flex;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transform: rotate(turn) scale(1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link--dark {
  background-color: var(--socials-dark-bg-color);
}

.socials__link:hover {
  background-color: var(--accent-color);
  transform: rotate(0.999turn) scale(1.1);
}

.socials__icon {
  fill: var(--socials-fill-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__icon--light {
  fill: var(--dark-bg-text-color);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--dark-bg-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--dark-bg-text-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199.98px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: var(--main-bg-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.304;
  letter-spacing: 0.03em;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.modal__form-comment {
  margin-bottom: 20px;
}

.modal__form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px 12px 42px;
}

.modal__form-input:focus {
  outline-color: var(--accent-color);
}

.modal__form-icon {
  position: absolute;
  top: 32px;
  left: 15px;
  transform: rotate(turn) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus + .modal__form-icon,
.modal__form-input:not(:placeholder-shown) + .modal__form-icon {
  fill: var(--accent-color);
  transform: rotate(0.999turn) scale(1.2);
}

.modal__comment {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal__comment:focus {
  outline-color: var(--accent-color);
}

.modal__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__policy {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal__policy-checkbox {
  position: absolute !important;
  overflow: hidden;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.modal__custom-checkbox {
  display: inline-block;
  margin-right: 7px;
  border: 2px solid #000;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__policy-checkbox:focus + .modal__custom-checkbox {
  outline: 1px solid black;
}

.modal__policy-checkbox:checked + .modal__custom-checkbox {
  border-color: var(--accent-color);
  fill: #ffffff;
  background-color: var(--accent-color);
}

.modal__policy-link {
  color: var(--accent-color);
}

.modal__form-button {
  padding: 10px 55px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-button:hover {
  background-color: #188ce8;
}

body.modal-open {
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767.98px) {
  .header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 90px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.burger-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 110;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

.burger-button:hover .burger-button__icon,
.burger-button:focus .burger-button__icon {
  fill: var(--accent-color);
}

.burger-button.is-open .burger-button__icon {
  display: none;
}

.burger-button__close-icon {
  display: none;
}

.burger-button.is-open .burger-button__close-icon {
  display: block;
}

@media screen and (max-width: 767.98px) {
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-bg-text-color);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
  }
  .main-nav.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__menu {
    display: flex;
  }
}

@media screen and (max-width: 767.98px) {
  .main-nav__menu-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__menu-item:not(:last-child) {
    margin-right: 50px;
  }
}

.main-nav__menu-link {
  position: relative;
  font-weight: 500;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.main-nav__menu-link:hover, .main-nav__menu-link:focus {
  color: var(--accent-color);
}

.main-nav__menu-link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

@media screen and (max-width: 767.98px) {
  .main-nav__menu-link {
    font-size: 40px;
    line-height: 1.175;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__menu-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.main-nav__menu-link--active {
  color: var(--accent-color);
}

@media screen and (max-width: 767.98px) {
  .main-nav__contacts {
    margin-top: auto;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__contacts {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav__contacts {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 767.98px) {
  .main-nav__contacts-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .main-nav__contacts-item:last-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav__contacts-item:last-child {
    margin-right: 30px;
  }
}

.main-nav__contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__contacts-link:hover {
  color: var(--accent-color);
}

@media screen and (max-width: 767.98px) {
  .main-nav__contacts-link {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__contacts-link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav__contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 12px;
  }
}

@media screen and (max-width: 767.98px) {
  .main-nav__contacts-link--highlighted {
    font-size: 34px;
    line-height: 1.176;
    color: var(--accent-color);
  }
}

.main-nav__contacts-icon {
  display: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .main-nav__contacts-icon {
    display: block;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav__contacts-icon {
    margin-right: 10px;
  }
}

.main-nav__socials {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .main-nav__socials {
    display: none;
  }
}

.main-nav__socials-item {
  position: relative;
}

.main-nav__socials-item:not(:last-child) {
  margin-right: 20px;
}

.main-nav__socials-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
}

.main-nav__socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--dark-bg-color);
}

@media screen and (max-width: 767.98px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile-480.jpg");
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (max-width: 767.98px) and (min-resolution: 196dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile-960.jpg");
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 3), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 3), screen and (max-width: 767.98px) and (-o-min-device-pixel-ratio: 3 / 1), screen and (max-width: 767.98px) and (min-resolution: 288dpi), screen and (max-width: 767.98px) and (min-resolution: 3dppx) {
  .hero .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile-1440.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet-768.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 196dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet-1536.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199.98px) and (-o-min-device-pixel-ratio: 3 / 1), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 3dppx) {
  .hero .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet-2304.jpg");
  }
}

@media screen and (max-width: 1199.98px) {
  .hero {
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop-1600.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 196dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop-3200.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 3 / 1), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop-4800.jpg");
  }
}

.hero__content {
  max-width: 360px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero__content {
    max-width: 700px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  padding: 10px 32px;
}

@media screen and (min-width: 768px) {
  .benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767.98px) {
  .benefits__item:not(:last-child) {
    margin-bottom: var(--grid-item-b-gap);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .benefits__item {
    flex-basis: calc( (100% - ((var(--grid-item-qt) - 1) * var(--grid-item-r-gap))) / var(--grid-item-qt));
  }
  .benefits__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: var(--grid-item-b-gap);
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    --grid-item-qt: 4;
    flex-basis: calc( (100% - ((var(--grid-item-qt) - 1) * var(--grid-item-r-gap))) / var(--grid-item-qt));
  }
}

.benefits__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--secondary-bg-color);
}

.benefits__item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-align: center;
}

.services-section {
  display: none;
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .services-section {
    display: block;
  }
}

.services {
  display: flex;
  justify-content: space-between;
}

.services__item {
  position: relative;
}

.services__label {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.team-section {
  background-color: var(--secondary-bg-color);
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.team__item {
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

@media screen and (max-width: 767.98px) {
  .team__item:not(:last-child) {
    margin-bottom: var(--grid-item-b-gap);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__item {
    flex-basis: calc( (100% - ((var(--grid-item-qt) - 1) * var(--grid-item-r-gap))) / var(--grid-item-qt));
  }
  .team__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: var(--grid-item-b-gap);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    --grid-item-qt: 4;
    flex-basis: calc( (100% - ((var(--grid-item-qt) - 1) * var(--grid-item-r-gap))) / var(--grid-item-qt));
  }
}

.team__teammate-info {
  padding: 30px 0;
}

.team__teammate-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.team__teammate-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.clients {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clients__item {
  flex-basis: calc( (100% - ((var(--grid-item-qt) - 1) * var(--grid-item-r-gap))) / var(--grid-item-qt));
}

@media screen and (max-width: 767.98px) {
  .clients__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: var(--grid-item-b-gap);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__item {
    --grid-item-qt: 3;
  }
  .clients__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: var(--grid-item-b-gap);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    --grid-item-qt: 6;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--socials-fill-color);
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  fill: var(--socials-fill-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 600px;
  background-color: var(--dark-bg-color);
}

@media screen and (min-width: 768px) {
  .footer {
    height: 463px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
  }
}

.footer__container {
  display: flex;
  height: 100%;
}

@media screen and (max-width: 767.98px) {
  .footer__container {
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}

.address__item {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item {
    margin-bottom: 9px;
  }
}

.address__link {
  font-style: normal;
  color: var(--dark-bg-secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--light {
  color: var(--dark-bg-text-color);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .footer__address,
  .footer__socials {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .footer__address,
  .footer__socials {
    flex-basis: calc((50% - 45px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscription {
    flex-basis: calc(50% - 15px);
  }
}

.footer__subtitle {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.subscription-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 5px 15px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--dark-bg-secondary-color);
  background-color: var(--dark-bg-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscription-form__input:focus {
  border-color: var(--main-bg-color);
  color: var(--dark-bg-text-color);
}

@media screen and (max-width: 1199.98px) {
  .subscription-form__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form__input {
    width: 358px;
  }
}

.subscription-form__btn {
  position: relative;
  padding: 10px 62px 10px 29px;
  min-width: 200px;
}

.subscription-form__btn-icon {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--dark-bg-text-color);
}

.subscription-form__btn:hover .subscription-form__btn-icon,
.subscription-form__btn:focus .subscription-form__btn-icon {
  animation-name: planeMove;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-filters {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.project-filters__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 8px;
}

.project-filters__btn {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-filters__btn--active {
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
}

.project-filters__btn:hover, .project-filters__btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.projects__item {
  border: 1px solid #eeeeee;
}

@media screen and (max-width: 767.98px) {
  .projects__item:not(:last-child) {
    margin-bottom: var(--grid-item-b-gap);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .projects__item {
    flex-basis: calc( (100% - ((var(--grid-item-qt) - 1) * var(--grid-item-r-gap))) / var(--grid-item-qt));
  }
  .projects__item:not(:last-child) {
    margin-bottom: var(--grid-item-b-gap);
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    --grid-item-qt: 3;
    flex-basis: calc( (100% - ((var(--grid-item-qt) - 1) * var(--grid-item-r-gap))) / var(--grid-item-qt));
  }
  .projects__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: var(--grid-item-b-gap);
  }
}

.projects__link {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__img-wrap {
  position: relative;
  overflow: hidden;
}

.projects__img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--dark-bg-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(105%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .projects__img-overlay,
.projects__link:focus .projects__img-overlay {
  transform: translateY(0%);
}

.projects__meta {
  padding: 20px 24px;
}

.projects__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects__type {
  font-size: 16px;
  line-height: 1.87;
}
/*# sourceMappingURL=styles.css.map */