%link-reset {
  text-decoration: none;
  color: currentColor;
}

%list-reset {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

%heading-reset {
  margin-top: 0;
  margin-bottom: 0;
}

%paragraph-reset {
  margin-top: 0;
  margin-bottom: 0;
}

%img-reset {
  display: block;
  height: auto;
  max-width: 100%;
}
