:root {
  // colors
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --title-text-color: #212121;
  --dark-bg-text-color: #ffffff;
  --dark-bg-secondary-color: rgba(255, 255, 255, 0.6);
  --light-bg-text-color: #000000;
  --socials-fill-color: #afb1b8;
  --socials-dark-bg-color: rgba(255, 255, 255, 0.1);
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  // fonts
  --main-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  // grid
  --grid-item-qt: 2;
  --grid-item-r-gap: 30px;
  --grid-item-b-gap: 30px;
}
