.benefits {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--grid-item-r-gap));
    margin-bottom: calc(-1 * var(--grid-item-b-gap));
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
  }
}

.benefits__item {
  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-right: var(--grid-item-r-gap);
    margin-bottom: var(--grid-item-b-gap);
  }

  // calc((100% - кол-во_элементов_в_строке * значение_одного_отступа) / кол-во_элементов_в_строке)

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    flex-basis: calc(
      (100% - var(--grid-item-qt) * var(--grid-item-r-gap)) /
        var(--grid-item-qt)
    );
  }

  @media screen and (min-width: 1200px) {
    --grid-item-qt: 4;
    flex-basis: calc(
      (100% - var(--grid-item-qt) * var(--grid-item-r-gap)) /
        var(--grid-item-qt)
    );
  }
}

.benefits__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--secondary-bg-color);
}

.benefits__item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-align: center;
}

.benefits__item-desc {
}
