.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 600px;
  background-color: var(--dark-bg-color);

  @media screen and (min-width: 768px) {
    height: 463px;
  }

  @media screen and (min-width: 1200px) {
    height: 252px;
  }
}

.footer__container {
  display: flex;
  height: 100%;

  @media screen and (max-width: 767.98px) {
    flex-direction: column;
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }

  @media screen and (max-width: 1199.98px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__logo {
  @media screen and (max-width: 1199.98px) {
    margin-bottom: 20px;
  }
}

.address__item {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__link {
  font-style: normal;
  color: var(--dark-bg-secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--light {
    color: var(--dark-bg-text-color);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__address,
.footer__socials {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((50% - 45px) / 2);
  }
}

.footer__subscription {
  @media screen and (min-width: 1200px) {
    flex-basis: calc(50% - 15px);
  }
}

.footer__subtitle {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

.subscription-form {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.subscription-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 5px 15px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--dark-bg-secondary-color);
  background-color: var(--dark-bg-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  &:focus {
    border-color: var(--main-bg-color);
    color: var(--dark-bg-text-color);
  }

  @media screen and (max-width: 1199.98px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.subscription-form__btn {
  position: relative;
  padding: 10px 62px 10px 29px;
  min-width: 200px;
}

.subscription-form__btn-icon {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--dark-bg-text-color);

  .subscription-form__btn:hover &,
  .subscription-form__btn:focus & {
    animation-name: planeMove;
    animation-duration: 1500ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
