.header {
  position: relative;
}

.header__logo {
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.burger-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 110;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burger-button__icon {
  .burger-button:hover &,
  .burger-button:focus & {
    fill: var(--accent-color);
  }

  .burger-button.is-open & {
    display: none;
  }
}

.burger-button__close-icon {
  display: none;

  .burger-button.is-open & {
    display: block;
  }
}

.main-nav {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-bg-text-color);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

.main-nav__menu {
  @extend %list-reset;
}

.main-nav__menu-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}
.main-nav__menu-link {
  @extend %link-reset;

  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.175;
  }

  &--active {
    color: var(--accent-color);
  }
}

.main-nav__contacts {
  @extend %list-reset;

  @media screen and (max-width: 767px) {
    margin-top: auto;
    margin-bottom: 64px;
  }
}

.main-nav__contacts-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.main-nav__contacts-link {
  @extend %link-reset;

  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.166;
  }

  &--accented {
    @media screen and (min-width: 396px) and (max-width: 767px) {
      font-size: 34px;
    }
    line-height: 1.176;
    color: var(--accent-color);
  }
}

.main-nav__contacts-icon {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.main-nav__socials {
  @extend %list-reset;

  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.main-nav__socials-item {
  position: relative;
  &:not(:last-child) {
    margin-right: 20px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -10px;
      display: block;
      width: 1px;
      height: 100%;
      background-color: rgba(33, 33, 33, 0.2);
    }
  }
}
.main-nav__socials-link {
  @extend %link-reset;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
