.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--dark-bg-color);

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("./../../images/hero/hero-mobile-480.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 196dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("./../../images/hero/hero-mobile-960.jpg");
      }
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      .hero {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("./../../images/hero/hero-mobile-1440.jpg");
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("./../../images/hero/hero-tablet-768.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 196dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("./../../images/hero/hero-tablet-1536.jpg");
      }
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      .hero {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("./../../images/hero/hero-tablet-2304.jpg");
      }
    }
  }

  @media screen and (max-width: 1199px) {
    // max-width: 480px;
    height: 400px;
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("./../../images/hero/hero-desktop-1600.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 196dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("./../../images/hero/hero-desktop-3200.jpg");
      }
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      .hero {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("./../../images/hero/hero-desktop-4800.jpg");
      }
    }
  }
}

.hero__content {
  max-width: 360px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    max-width: 700px;
  }
}

.hero__title {
  @extend %heading-reset;

  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  padding: 10px 32px;
}
